* {
    -dColor1: #FEBE10;
    -dColor2: #F7901E;
    -backColor1: #233A4B;
}
root {
    -fx-font-smoothing-type: true;
}
#loginBackGround{
    -fx-background-color: -backColor1;
    -fx-border-color: -dColor1;
}
#topBar {
    -fx-background-color: -dColor1;
}
#idText, #pwText {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: Bold;
}
#checkBoxName {
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: Bold;
}
.text-field, .password-field {
    -fx-font-size: 13px;
    -fx-font-family: 'Segoe UI';
    -fx-font-weight: Bold;
    -fx-faint-focus-color: #FFFFFF00;
}
#idPwSave {
    -jfx-checked-color: green;
    -jfx-unchecked-color: white;
}
#loginBtn {
    -fx-font-size: 20px;
    -fx-background-color: -dColor1;
    -fx-background-radius: 12;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: Bold;
    -fx-text-fill: white;
}
#loginBtn:hover {
    -fx-border-color: white;
    -fx-border-radius: 12px;
    -fx-border-width: 2;
    -fx-border-insets: -2;
}