# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\dongguk_moa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
